// Sitewide Colors  
$blue: #25408F;
$blue-dark: #2B357E;
$yellow: #FFF378;
$yellow-dark:#C5BB00;
$black: #688ba8;
$black-medium: #515151;
$gray: #5F5F5F;
$gray-medium: #686768;
$gray-light:#E2E2E2;
$white:#fff;
$white-dark: #F6F6F6;





