body {
    font-size: 100%;
    //font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    //font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Slab', serif;
   	//font-weight: 300;
    background:#fff;
    color:$black-medium;
}
li {
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6 {
    font-weight:normal;
}

