.header {
  background: url('../img/header-texture.png') repeat;
  padding: 3.5em 0 9em;
}

.header__logo {
  float: left;
  position: relative;
  top: -2em;
}

@include break-at-max(600) {
  .header__logo {
    width: 150px;
    top: -2em;
  }
  .header {
    padding: 3.5em 0 6em;
  }
}

@include break-at-max(400) {
  .header__logo {
    width: 130px;
  }
}
